process.cache = 'deep'

import java.time.*
Date now = new Date()

params {
	day = now.format("yyyMMdd")
    tracedir = "Analysis-${day}"
    timestamp = now.format("yyyyMMdd-HH-mm-ss")
}

report {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_report.html"
}

timeline {
	enabled = true
	file = "${params.tracedir}/${params.timestamp}_timeline.html"
}


process {
	module = 'R/3.6.0'

	//maxRetries=3
}



executor {

    queueSize=200

}